.dashboard {
  display: flex;
  flex-direction: column;
  /* height: 78.2vh; */
  background-image: url('../assets/bgdb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b2bdee;
  padding: 0 90px 50px;
  /* overflow: hidden; */
}
.user-account {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.dashform {
  height: 100%;
}
.dashtrans {
  height: 100%;
}
.maintext {
  font-size: 30px;
  font-weight: bold;
  color: #4c4c52;
}
.dashcontainer {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dbicons {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dbicon {
  cursor: pointer;
  width: 150px;
  background-color: #0d0d49;
  color: rgb(194, 193, 193);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.411);
}
.dbicon img {
  width: 70px;
}
.next-btn {
  z-index: 1000;
}

@media (max-width: 700px) {
  .dashboard {
    /* height: 85.2vh; */
    padding: 50px 30px;
  }
  .dbicons {
    max-width: 500px;
    justify-content: space-around;
  }
  .dbicon {
    max-width: 100px;
    border-radius: 8px;
  }
}
