@import 'tailwindcss';

* {
  /* outline: 2px solid red; */
}
.main-container {
  background-image: url(../src/assets/bg.jpg);
  background-size: cover;
  /* background-attachment: fixed; */

  background-position: top left 70px;
  background-repeat: no-repeat;
  padding-bottom: 165px;
  color: #1f182d;
}

.main {
  transform: skewX(-15deg);
  transform-origin: top;
}
.form {
  border: 2px solid white;
  box-shadow: -5px 5px #f7f6f6, -9px 9px #e0ad0f;
  background-color: #d1d2d4;
  max-width: 320px;
  /* Bend effect */
}
input {
  width: 100%;
  padding: 5px 20px;
  background-color: white;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px #0000005c;
}
input:focus {
  outline: none;
}
.lastbtn,
.registerbtn {
  font-size: 16px;
  color: black;
}
.registerbtn {
  display: inline-block;
  background-color: #e0ad0f;
  border-radius: 8px;
  padding: 5px;
  font-weight: 600;
  max-width: 180px;
}
.lastbtn:hover {
  color: rgb(36, 84, 195);
}
.last-items {
  transform: skewX(15deg);
}
