@media (max-width: 768px) {
  .left-title {
    display: none;
  }

  .main-container {
    background-position: top 0 right 0;
    height: 90vh;
    width: 100%;
  }
  .main {
    transform: skewX(0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120%;
  }

  .form {
    background-color: #d1d2d4cd;
    width: 300px;
  }
  .last-items {
    transform: skewX(0deg);
  }
  footer {
    font-size: 10px;
  }
}
